/* nav */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 60%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFAFA;
    align-items: center;
    height: 64px;
    width: 100%;
    border-bottom: black solid;
}

.leftsize{
    display: flex;
    align-items: center;
    padding: 32px 24px;
}

.rightsize{
    display: flex;
    align-items: center;
}

.list-nav{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    list-style: none;
    font-family: 'REM', sans-serif;
    font-weight: 800;
    color: black;
}

.nav-link:hover{
    color: red;
    font-style: italic;
    border-bottom: 2px solid;
}

/**/
.banner{
    display: flex;
    padding: 32px 24px;
    background-color: 	#D3D3D3;
    align-items: center;
}

.detail{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 16px;
    font-size: 150%;
    height: 100%;
    width: 100%;
}

.detail h1 p{
    font-size: 2em;
}

button{
    color: white;
    background-color: brown;
    width: 50%;
    height: auto;
    padding: 8px;
}



/**/

.infomation{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.containerinfo{
    padding: 32px 24px;
    
}

.boxcontent{
    display: flex;
    flex-direction: column;
}

.campus-box{
    padding-top: 32px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.phocampus{
    height: auto;
    width: 20%;
}
.textcampus{
    display: flex;
    flex-direction: column;
    width: 50%;
}