/* nav */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

html{
    font-family: 'Poppins', sans-serif;
    font-family: 'REM', sans-serif;
}

.logo{
    width: 60%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFAFA;
    align-items: center;
    height: 64px;
    width: 100%;
    border-bottom: black solid;
    
}

.leftsize{
    display: flex;
    align-items: center;
    padding: 32px 24px;
}

.rightsize{
    display: flex;
    align-items: center;
}

.list-nav{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    list-style: none;
    font-family: 'REM', sans-serif;
    font-weight: 800;
    color: black;
}

.nav-link:hover{
    color: red;
    font-style: italic;
    border-bottom: 2px solid;
}

/**/
.banner{
    display: flex;
    position: block;
    padding: 32px 24px;
    background-color: 	#D3D3D3;
    align-items: center;
    width: 100%;
}

.detail{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 16px;
    font-size: 150%;
    height: 100%;
    width: 100%;
}

.detail h1 p{
    font-size: 2em;
}

button{
    color: white;
    background-color: brown;
    width: 50%;
    height: auto;
    padding: 8px;
}



/**/

.infomation{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.containerinfo{
    padding: 32px 24px;
    
}

.boxcontent{
    display: flex;
    flex-direction: column;
}

.campus-box{
    padding-top: 32px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.phocampus{
    height: auto;
    width: 20%;
}
.textcampus{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.learning{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(179, 172, 172);
}

.learning h1{
    font-size: 2em;
    text-align: center;
    padding: 32px 0 32px 0;
}

.box-course{
    background-color: white;
    padding-bottom: 16px;
}

.containerbox{
    display: flex;
    justify-content: space-between;
    padding: 32px 72px;
}

.text-couse{
    padding: 16px 0 16px 0;
}

.text-couse h2{
    padding: 16px ;
    padding-left: 32px;
}

.text-couse h3{
    padding: 8px;
    padding-left: 32px;
}

.text-couse p{
    padding-left: 32px;
}

.thesis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 32px;
}

.thesis h1{
    text-align: center;
    font-size: 2rem;
}

.container-thesis{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.video-thesis{
    width: 60%;
    height: auto;
    
}

.video-thesis h1{
    text-align: left;
    padding: 24px;
}

.video-thesis p{
    text-align: left;
    padding-bottom: 32px;
}



.thesistext-block{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.text-thesis{
    display: flex;
    flex-direction: row;
    
}

.text{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
footer{
    padding-left: 24px;
    color: rgb(196, 162, 162);
}